@model IEnumerable<PI_EXPERT_SA_WEB.Models.EMPLEADO>
@*@model IEnumerable<PI_EXPERT_SA_WEB.Models.ROL>*@
@{
    ViewBag.Title = "Equipo";
}

<h2>Equipo</h2>

<h4>Selecione los empleados que van a conformar el equipo*</h4>

<table class="table">
    <tr>
        <th></th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Correo</th>
    </tr>

    @for (int iterator = 0; iterator < Model.Count(); iterator++) {
        <tr>
            <td><input type="checkbox" /></td>
            <td>@Html.DisplayFor(modelItem => Model.ElementAt(iterator).nombre)</td>
            <td>@Html.DisplayFor(modelItem => Model.ElementAt(iterator).apellido1)</td>
            <td>@Html.DisplayFor(modelItem => Model.ElementAt(iterator).apellido2)</td>
            <td>@Html.DisplayFor(modelItem => Model.ElementAt(iterator).correo)</td>
        </tr>
    }


</table>

