
@model IEnumerable<PI_EXPERT_SA_WEB.Models.ListaDesResp>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        var proyectoID;
        $("#proyectos").change(function () {
            proyectoID = $("#proyectos").val();
            //alert("Hello! I am an alert box!");
            $("#listaFiltrada").load('/CONSULTAS/HorasEstReal', { idProyectoPK: proyectoID });
        });

    });
</script>

<div class="form-group row offset-3">
    @Html.Label("Proyecto", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("proyectos", null, "--Seleccionar Proyecto--", htmlAttributes: new { @class = "form-control" })
    </div>
</div>
@*Espacio para mostrar la nueva Tabla*@
<div id="listaFiltrada"></div>


