
@{
    ViewBag.Title = "Index";
}

@*Consultas es una vista que despliega los enlaces para ir a las consultas más frecuentes*@

<h2>Consultas</h2>
<div class="separador"></div>


@*Cards de Bootstrap con botones que enlazan a consultas.*@

<div class="card-deck mt-5">
    <div class="card">
        <div class="card-body text-white bg-secondary d-flex flex-column">
            <h5 class="card-title">01</h5>
            <p class="card-text">Desarrolladores asignados a proyectos y disponibles.</p>
            <a href="" class="btn btn-primary align-self-end btn btn-block">Consultar</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body text-white bg-secondary d-flex flex-column">
            <h5 class="card-title">02</h5>
            <p class="card-text">Comparación entre duración estimada y real por cada requerimiento para un desarrollador específico.</p>
            <a href="~/CONSULTAS/ComparacionDuracionRequerimientos" class="btn btn-primary align-self-end btn btn-block">Consultar</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body text-white bg-secondary d-flex flex-column">
            <h5 class="card-title">03</h5>
            <p class="card-text">Total de horas estimadas y reales por proyecto requeridas para cumplir con todos requerimientos (para proyectos ya terminados). </p>
            <a href="#" class="btn btn-primary align-self-end btn btn-block">Consultar</a>
        </div>
    </div>
</div>


<div class="card-deck mt-5">
    <div class="card">
        <div class="card-body text-white bg-secondary d-flex flex-column">
            <h5 class="card-title">04</h5>
            <p class="card-text">Historial sobre la participación de un desarrollador en diferentes proyectos, su rol y total de horas dedicadas.</p>
            <a href="~/CONSULTAS/HistorialDesarrollador" class="btn btn-primary align-self-end btn btn-block">Consultar</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body text-white bg-secondary d-flex flex-column">
            <h5 class="card-title">06</h5>
            <p class="card-text">Periodos de desocupación de los desarrolladores dentro de un rango de fechas.</p>
            <a href="#" class="btn btn-primary align-self-end btn btn-block">Consultar</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body text-white bg-secondary d-flex flex-column">
            <h5 class="card-title">07</h5>
            <p class="card-text">Comparación de las estimaciones y valores reales de la duración del desarrollo para requerimientos del mismo nivel de complejidad.</p>
            <a href="#" class="btn btn-primary align-self-end btn btn-block">Consultar</a>
        </div>
    </div>
</div>


<div class="card-deck mt-5">
<div class="card">
    <div class="card-body text-white bg-secondary d-flex flex-column">
        <h5 class="card-title">08</h5>
        <p class="card-text">Cantidad de desarrolladores con conocimientos específicos y promedio de su antigüedad en la empresa.</p>
        <a href="~/CONSULTAS/HabilidadesFrecuentes" class="btn btn-primary align-self-end btn btn-block">Consultar</a>
    </div>
</div>

<div class="card">
    <div class="card-body text-white bg-secondary d-flex flex-column">
        <h5 class="card-title">09</h5>
        <p class="card-text">Estado y responsables de cada requerimiento de un proyecto específico.</p>
        <a href="#" class="btn btn-primary align-self-end btn btn-block">Consultar</a>
    </div>
</div>

<div class="card">
    <div class="card-body text-white bg-secondary d-flex flex-column">
        <h5 class="card-title">10</h5>
        <p class="card-text">Total de requerimientos terminados y en ejecución.</p>
        <a href="#" class="btn btn-primary align-self-end btn btn-block">Consultar</a>
    </div>
</div>
</div>