@*@model IEnumerable<PI_EXPERT_SA_WEB.Models.Group<string, CONSULTA  >>*@

@using  PI_EXPERT_SA_WEB.Models
@model List<Group<string, CONSULTAS>>

@*Lista de requerimientos de un proyecto es especiifico*@

    <table>
        <tr>
            <th>
                Nombre Proyecto
            </th>
            @*<th>
                Duración Estimada
            </th>
            <th>
                Duración Real
            </th>
            <th>
                Diferencia
            </th>*@
        </tr>

        @foreach (var group in Model)
        {

            <tr>
                <td>
                    @group.Key
                </td>
               
            </tr>
        }
    </table>

    <h2>hierro</h2>


