@*@model IEnumerable<PI_EXPERT_SA_WEB.Models.Group<string, CONSULTA  >>*@

@using  PI_EXPERT_SA_WEB.Models
@model List<Group<string, CONSULTAS>>


@*Lista de requerimientos de un proyecto es especiifico*@

    <table class="table table-bordered table-striped" id="tabla">
        <tr>
            <th>
                Proyecto
            </th>
            <th>
                Rol
            </th>
            <th>
                Total de horas dedicadas
            </th>
        </tr>

        @foreach (var group in Model)
        {
            <tr>
                <td>
                    @group.Key

                </td>
                @foreach (var book in group.Values)
                {                
                }
             }
            <td>
                 @group.suma
            </td>
            
        </tr>
        }
    </table>

<h2>confeti</h2>

