
@model IEnumerable<PI_EXPERT_SA_WEB.Models.REQUERIMIENTO>


@*script que llama los requerimientos de un desarrollador*@
<body>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#empleadospro").change(function () {
                var desarrollador = $("#empleadospro").val();
                var proyectoID = $("#proyectos").val();
                $("#tablaRequerimientos").load('/REQUERIMIENTO/MostrarRequerimientosDesarrollador', {cedulaPK: desarrollador});
            });
        });
    </script>



    @*Despliega los des desarrolladores de un proyecto*@
    <div class="form-group row offset-3">
        @Html.Label("Desarrollador", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("empleadospro", null, "--Seleccionar Desarrollador--", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>



    <div id="tablaRequerimientos"></div>

</body>

