@model IEnumerable<PI_EXPERT_SA_WEB.Models.MODULO>

<body>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
    $(document).ready(function () {
            $("#idModuloPK").change(function () {
                var moduloID = $("#idModuloPK").val();
                var proyectoID = $("#idProyectoPK").val();
                $("#tablaRequerimientos").load('/REQUERIMIENTO/MostrarRequerimientos?idProyectoPK=' + proyectoID +'?idModuloPK' + moduloID);
                $("#crearReq").prop("href", '@(Url.Action("Create","REQUERIMIENTOS",null, Request.Url.Scheme))?idModuloPK=' +moduloID);
            });
        });

    </script>

    @Html.DropDownList("modulos", null, "--Seleccionar Modulo--")
    <div id="tablaRequerimientos"></div>
    <h2>Requerimientos</h2>

</body>