@model PI_EXPERT_SA_WEB.Models.REQUERIMIENTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {

        var proyectoID;

        $("#proyectos").change(function () {
            proyectoID = $("#proyectos").val();
            
            $("#dropdownmodulo").load('/REQUERIMIENTO/GetListaModulos', { idProyectoPK: proyectoID });
        });
    });
</script>


<script>
    $(document).ready(function () {

        var proyectoID;
        $("#create").click(function () {
            proyectoID = $("#proyectos").val();
            TempData["proyectoID"] = proyectoID;
            $(this).load('/REQUERIMIENTO/Create', { idProyectoPK = proyectoID, idModuloPK = moduloID });
        })

    });
</script>



<h2>Listado de Requerimientos</h2>

<h2>
    @*href="@Url.Action("Details", "REQUERIMIENTO", new { idProyecto = item.idProyectoPK, idModulo = item.idModuloPK})"*@

    <a href="@Url.Action("Create", "REQUERIMIENTO", new {TempData})" style="float:right">
        <img src="~/images/plus.svg" width="30" height="30" />
    </a>

    @*<a id="create" style="float:right">
        <img src="~/images/plus.svg" width="30" height="30" />
    </a>*@
</h2>

<div class="form-group row offset-3">
    @Html.Label("Proyecto", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("proyectos", null, "--Seleccionar Proyecto--", htmlAttributes: new { @class = "form-control" })
    </div>
</div>


<div id="dropdownmodulo"> </div>

<div id="tablaRequerimientos"> </div>
