@model PI_EXPERT_SA_WEB.Models.REQUERIMIENTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>
    $(document).ready(function () {

        $("#proyectos").change(function () {
            var proyectoID = $("#proyectos").val();
            $("#dropdownmodulo").load('/REQUERIMIENTO/GetListaModulos', { idProyectoPK: proyectoID })
        });
    });
</script>




<h2>Requerimientos</h2>

<h2>
    <a href="@Url.Action("Create", "REQUERIMIENTO")" style="float:right">
        <img src="~/images/plus.svg" width="30" height="30" />
    </a>
</h2>



<div class="form-group row offset-3">
    @Html.Label("Proyectos", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("proyectos", null, "--Seleccionar Modulo--", htmlAttributes: new { @class = "form-control" })
    </div>
</div>


<div id="dropdownmodulo"> </div>
