@model IEnumerable<PI_EXPERT_SA_WEB.Models.REQUERIMIENTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>
    $(document).ready(function () {
            $("#idProyectoPK").change(function () {
                var proyectoID = $("#idProyectoPK").val();
                $("#dropdownModulo").load('/REQUERIMIENTO/GetListaModulos', { idProyectoPK: proyectoID });
                $("#crearReq").prop("href", '@(Url.Action("Create","REQUERIMIENTOS",null, Request.Url.Scheme))?idProyectoPK=' + proyectoID);
            });
    });
</script>


<h2>Requerimientos</h2>

<h2>
    <a href="@Url.Action("Create", "REQUERIMIENTO")" style="float:right">
        <img src="~/images/plus.svg" width="30" height="30" />
    </a>
</h2>

@Html.DropDownList("idProyectoPK", null, "--Seleccionar Proyecto--")




<div id="dropdownModulo"> </div>

