@model PI_EXPERT_SA_WEB.Models.REQUERIMIENTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>

<body>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>


    <script>
        $(document).ready(function () {
            var proyectoID;
            $("#proyectos").change(function () {
                proyectoID = $("#proyectos").val();
                //alert("Hello! I am an alert box!");
                $("#dropdownmodulo").load('/REQUERIMIENTO/GetListaModulos', { idProyectoPK: proyectoID });
            });

            $("#jack").mouseleave(function () {
                alert("Debe seleccionar proyecto y módulo para poder crear el requerimiento");
            })
        });
    </script>



    <h2 >Listado de Requerimientos</h2>


    @*Boton para crear nuevo requerimiento*@
    <h2>
        <a href="@Url.Action("Create", "REQUERIMIENTO", new {})" style="float:right">
            <img id="jack" src="~/images/plus.svg" width="30" height="30" />
        </a>
    </h2>

    @*Lista de proyectos*@
    <div class="form-group row offset-3">
        @Html.Label("Proyecto", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("proyectos", null, "--Seleccionar Proyecto--", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>


    @*Espacio para desplegar la lista de módulos*@
    <div id="dropdownmodulo"> </div>


</body>


</html>

