@model  PI_EXPERT_SA_WEB.Models.ModeloLogin

@{
    Layout = "";
    ViewBag.Title = "Login";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="~/Styles/custom.css" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


    <div class="container login-container" style="margin-left: 19rem;margin-top: 8rem">
        <div class="row">
            <div class="col-md-6 login-form-2">
                <h3>Experts S.A</h3>
                <form>
                    <div class="form-group">
                        <input id="userName" type="text" class="form-control" placeholder="Correo o Nombre *" value="" />
                    </div>
                    <div class="form-group">
                        <input id="userPassword" type="password" class="form-control" placeholder="Contraseña *" value="" />
                    </div>
                    <div class="form-group center">
                        <a href="~/PROYECTO">
                            <input type="button" class="btnSubmit" value="Entrar" onclick="HandleIT()"/>
                        </a>
                    </div>                  
                    <div class="form-group">
                        <a href="~/PROYECTO" class="ForgetPwd" value="Login">Olvidó su contraseña?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function HandleIT() {
            var name = document.getElementById('<%=userName.ClientID %>').value;
            var address = document.getElementById('<%=userPassword.ClientID %>').value;

            console.log('Usuario: ' + this.name + ' Password: ' + this.address);

            //PageMethods.ProcessIT(name, address, onSucess, onError);
            function onSucess(result) {
                alert(result);
            }

            function onError(result) {
                alert('Something wrong.');
            }
        }
    </script>
