@model IEnumerable<PI_EXPERT_SA_WEB.Models.EMPLEADO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        var proyectoID;
        var val;
        $("#habilidades").change(function () {
            habilidad = $("#habilidades").val();
            $("#tablaFiltrada").load('/ROL/TablaFiltradaDesarrolladores', { habilidades: habilidad });

            if (habilidad != null || habilidad == "--Seleccionar Habilidad--") {
                $("#tabla").hide();
            } else {
                $("#tabla").show();
            }

        });
    });
</script>



@*filtro por habilidad*@
<div>
    <div class="form-group row offset-3">
        @Html.Label("Habilidades", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("habilidades", null, "--Seleccionar Habilidad--", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
</div>

@*todos los desarrolladores (tabla a la izquierda)*@
<table align="left" id="tabla">
    <tr>
        <th>
            Desarrolladores
        </th>
        <th>
            Seleccionar/Eliminar
        </th>

    </tr>

    @foreach (var item in Model)
    {
        var nombreCompleto = item.nombre + " " + item.apellido1 + " " + item.apellido2;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => nombreCompleto)
            </td>

            <td>
                @*Boton de detalles del requerimiento*@
                <div class="col text-center">
                    <a href="@Url.Action("SeleccionarEliminarDesarrollador","ROL", new { cedulaPK = item.cedulaPK})" style="float:initial">
                        <img src="~/images/more.svg" width="30" height="30" />
                    </a>
                </div>
            </td>

        </tr>
    }
</table>

@*desarrolladores filtrados por habilidades (tabla a la izquierda)*@
<div id="tablaFiltrada"></div>

@*desarrolladores seleccionados para el equipo (tabla a la derecha)*@
<div></div>



