@model PI_EXPERT_SA_WEB.Models.MODULO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>
    $(document).ready(function () {
        $("#idProyectoPK").change(function () {
            var proyectoID = $("#idProyectoPK").val();

            $("#ModuloPartialView").load('/MODULO/ModuloPartialView', { idProyectoPK: proyectoID });
        });
    });
</script>


<h2>
    Módulos
    <a href="@Url.Action("Create","MODULO", new { })" style="float:right">
        <img src="~/images/plus.svg" width="30" height="30" />
    </a>
</h2>




<div class="form-horizontal">
    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.idProyectoPK, "Proyectos", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idProyectoPK", null, "--Seleccionar Proyecto--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idProyectoPK, "", new { @class = "text-danger" })
        </div>
    </div>
</div>




<div id="ModuloPartialView"></div>




