@model PI_EXPERT_SA_WEB.Models.MODULO

@{
    ViewBag.Title = "Index";
}


<div class="form-horizontal">

    <div class="form-group row offset-3">
        @Html.LabelFor(model => model.idProyectoPK, "Proyectos", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idProyectoPK", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idProyectoPK, "", new { @class = "text-danger" })
        </div>
    </div>
</div>



